<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <title>Q Bot | Dashboard</title> -->
    <title>lectus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/js_cdn/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/fullcalendar/pignose.calendar.min.css"/>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/shared/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/multi-select-styles.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/css/shared/demo_2_style.css">
    <!-- End Layout styles -->
    <link href="/static/images/icons/K.png" rel="shortcut icon" type="image/png" />
    <style>
      .tab-basic .nav-item .nav-link.active {
        color: #6358D5;
        border-bottom: 2px solid #6358D5;
      }
      .nav-tabs .nav-item .nav-link {
        font-size: 16px;
      }
      .tab-basic .nav-item {
        margin-right: 20px;
      }
      #calendar .fc-header-toolbar .fc-button-group .fc-button {
        border: 0.7px solid #000;
        background: #fff;
        color: #000;
      }
      #calendar .fc-header-toolbar .fc-button-group .fc-button.fc-state-active,
      #calendar .fc-header-toolbar .fc-today-button {
        background: #6A5FDD;
        color: #fff;
      }
      #calendar .fc-header-toolbar .fc-button-group .fc-button.fc-prev-button {
        color: #6A5FDD;
      }
      #lectusAlignment {
        /* font-family: Microsoft JengHui UI Light; */
        font-size: 2.5rem;
        margin-left: 40%;
        color: black;
        background-color: white;
        padding: 0px 16px;
      }
    </style>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="padding: 0px; background-image: url('/static/images/Header.png');">
        <!-- <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="padding: 0px; background: 0% 0% no-repeat padding-box; background-image: url('/static/images/Header.png');"> -->
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html">
            <img src="/static/images/KyneaLogo.png" alt="logo" /> </a>
          <a class="navbar-brand brand-logo-mini" href="index.html">
            <img src="/static/images/K7Logo.png" alt="logo" /> </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <div id="lectusAlignment">lectus</div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-xl-inline-block">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <span class="profile-text">
                  <span id="loginUserName"></span>
                </span>
                <i style="margin: 0px;" class="menu-icon mdi mdi-account-circle"></i>
              </a>
              <div style="padding: 10px;" class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <a class="dropdown-item" href='javascript:;' onclick='logout();'> Sign Out </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        {% include 'sidebar.html' %}
        
        <!-- partial -->

        <div class="main-panel">
          <div class="content-wrapper" style="padding: 0px;">
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card-body" style="padding: 0px;">
                  <ul class="nav nav-tabs tab-basic" role="tablist"
                    style="margin-bottom: 0px; padding: 10px; background-color: #fff;">
                    <li class="nav-item">
                      <a class="nav-link active" id="users-tab" data-toggle="tab" href="#usersTab" role="tab"
                        aria-controls="usersTab" aria-selected="true">Users</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="calendar-tab" data-toggle="tab" href="#calendarTab" role="tab" aria-controls="calendarTab"
                        aria-selected="false">Calendar</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="dataManagement-tab" data-toggle="tab" href="#dataManagementTab" role="tab" aria-controls="dataManagementTab"
                        aria-selected="false">Data Management</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="readMe-tab" data-toggle="tab" href="#readMeTab" role="tab" aria-controls="readMeTab"
                        aria-selected="false">Read me</a>
                    </li>
                  </ul>
                  <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="usersTab" role="tabpanel" aria-labelledby="users-tab" style="padding: 10px;">
                      
                    </div>
          
                    <div class="tab-pane fade" id="calendarTab" role="tabpanel" aria-labelledby="calendar-tab">
                      <div class="col-md-12">
                        <h4 class="card-title" style="font-size: 16px;">Calendar</h4>
                        <div class="row">
                          <div class="col-md-4 grid-margin">
                            <div class="card border-0 calendar-widget">
                              <div class="smallCalendar"></div> 
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="card border-0 calendar-widget">
                              <div id="calendar"></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <div class="tab-pane fade" id="dataManagementTab" role="tabpanel" aria-labelledby="dataManagement-tab">
          
                    </div>
          
                    <div class="tab-pane fade" id="readMeTab" role="tabpanel" aria-labelledby="readMe-tab">
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="content-wrapper" style="padding: 10px;">
            <div class="row">
              <div class="col-md-12">
                <div class="card border-0 calendar-widget">
                  <div class="d-flex justify-content-between align-items-center calendar-widget-header">
                    <h4 class="card-title mb-0">Business Calendar</h4>
                    <form class="form calendar-form-wrapper d-none d-md-flex" action="#">
                      <input type="search" class="form-control mr-4" autocomplete="off" placeholder="Search">
                      <button class="btn btn-info btn-square">Add New Event</button>
                    </form>
                  </div>
                  <div id="calendar"></div> 
                </div>
              </div>
            </div>
          </div> -->
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix"></div>
          </footer>
          <!-- partial -->
        </div>

        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/js_cdn/vendors/js/vendor.bundle.base.js"></script>
    <script src="/static/js_cdn/jquery-3.2.1.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/js_cdn/shared/off-canvas.js"></script>
    <script src="/static/js_cdn/shared/hoverable-collapse.js"></script>
    <script src="/static/js_cdn/shared/misc.js"></script>
    <script src="/static/js_cdn/shared/settings.js"></script>
    <script src="/static/js_cdn/shared/todolist.js"></script>
    <script src="/static/js_cdn/lodash.min.js"></script>
    <script src="/static/js_cdn/xlsx.js"></script>
    <script src="/static/js_cdn/jquery.multi-select.js"></script>
    <script src='/static/js_cdn/moment.min.js'></script>
    <script src="/static/js_cdn/vendors/fullcalendar/fullcalendar.min.js"></script>
    <script src="/static/js_cdn/vendors/fullcalendar/pignose.calendar.full.min.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/static/js/calendar.js"></script>
    <!-- <script src="../assets/js/demo_5/script.js"></script> -->
    <!-- End custom js for this page -->
    <script>
      $(document).ready(function(){
        $('#administration_li').addClass('active');
        $('#administration_li').addClass('menu-open');
        $("#calendar_li").addClass('active');
      })

    </script>
  </body>
</html>