<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <title>Q Bot | Dashboard</title> -->
    <title>lectus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/js_cdn/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/shared/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/multi-select-styles.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/css/shared/demo_2_style.css">
    <!-- End Layout styles -->
    <link href="/static/images/icons/K.png" rel="shortcut icon" type="image/png" />
    <style>
      .tab-basic .nav-item .nav-link.active {
        color: #6358D5;
        border-bottom: 2px solid #6358D5;
      }
      .nav-tabs .nav-item .nav-link {
        font-size: 16px;
      }
      .tab-basic .nav-item {
        margin-right: 20px;
      }
      .card-body-custom {
        padding: 10px !important;
      }
      .font-weight-medium-custom {
        font-size: 16px;
        padding-top: 5px;
      }
      .customTable thead tr th { 
        font-weight: 700;
        font-size: 16px;
      }
      .template-demo > .btn {
        margin-top: 5px !important;
        margin-right: 5px !important;
      }
      .template-demo button, #buSelected, #deskSelected, #ownerGroupSelected {
        min-width: unset !important;
        font-size: 12px;
        padding: 0.3rem 1rem;
      }
      .template-demo {
        max-height: 200px;
        overflow-y: auto;
      }
        #lectusAlignment {
          /* font-family: Microsoft JengHui UI Light; */
          font-size: 2.5rem;
          margin-left: 40%;
          color: black;
          background-color: white;
          padding: 0px 16px;
        }
    </style>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="padding: 0px; background-image: url('/static/images/Header.png');">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html">
            <img src="/static/images/KyneaLogo.png" alt="logo" /> </a>
          <a class="navbar-brand brand-logo-mini" href="index.html">
            <img src="/static/images/K7Logo.png" alt="logo" /> </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <div id="lectusAlignment">lectus</div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-xl-inline-block">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <span class="profile-text">
                  <span id="loginUserName"></span>
                </span>
                <i style="margin: 0px;" class="menu-icon mdi mdi-account-circle"></i>
              </a>
              <div style="padding: 10px;" class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <a class="dropdown-item" href='javascript:;' onclick='logout();'> Sign Out </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        {% include 'sidebar.html' %}
        
        <!-- partial -->

        <div class="main-panel">
          <div class="content-wrapper" style="padding: 10px;">
            <div class="row" style="padding: 5px 10px;">
              <div class="col-md-6">
                <h4>Customer Dashboard</h4>
              </div>
              <div class="col-md-6">                
                <button style="float: right;" type="button" class="btn btn-primary toolbar-item" onclick="filterOptionsBtn()">
                  <i id="filterOption" style="color: #fff;" class="mdi mdi-filter-outline mr-0 text-gray"></i> Filter 
                </button>
              </div>
            </div>

            <div id="filterOptions" class="col-12 grid-margin" style="padding: 0 5px 5px; margin: 0; display: none;">
              <div class="card">
                <div class="card-body" style="padding: 0px">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="card-body" style="padding: 10px">
                        <h4 class="card-title" style="margin-bottom: 0px;">
                          Products: 
                        </h4>
                        <div class="template-demo" id="productDiv">
                          <button type="button" class="btn btn-outline-primary btn-rounded btn-fw active" id="productButton0" onclick="fetchDataFilterButton('product', '0', 'All')">All</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="card-body" style="padding: 10px">
                        <h4 class="card-title" style="margin-bottom: 0px;">
                          Severity: 
                        </h4>
                        <div class="template-demo" id="severityDiv">
                          <button type="button" class="btn btn-outline-primary btn-rounded btn-fw active" id="severityButton0" onclick="fetchDataFilterButton('severity', '0', 'All')">All</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card-body" style="padding: 10px">
                        <h4 class="card-title" style="margin-bottom: 0px;">
                          Customer: 
                        </h4>
                        <div class="template-demo" id="customerDiv">
                          <button type="button" class="btn btn-outline-primary btn-rounded btn-fw active" id="customerButton0" onclick="fetchDataFilterButton('customer', '0', 'All')">All</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" style="right: 5px; bottom: 5px;">
                      <button style="float: right;" type="button" class="btn btn-primary toolbar-item" onclick="filterDataAndPlot()">Select</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body card-body-custom" style="padding: 0px !important;">
                    <div class="d-flex" style="padding: 10px 10px 0px;">
                      <h4 class="card-title" style="margin-bottom: 0px;" id="ticketsReportHead"></h4>
                                                    
                      <div class="dropdown ml-lg-auto toolbar-item">
                        <button class="btn" style="padding: 0px; font-size: 20px;" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-database-export mr-0 text-gray"></i>
                        </button>
                        <div style="min-width: auto;" class="dropdown-menu" aria-labelledby="dropdownexport">
                          <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Tickets_Report_', 'ticketsReport', 'PDF')">
                            <i class="mdi mdi-file-pdf mr-0 text-gray"></i> PDF
                          </a>
                          <a class="dropdown-item" style="cursor: pointer;" onclick="fetchDownloadData('Tickets_Report_', 'ticketsReport')">
                            <i class="mdi mdi-file-excel mr-0 text-gray"></i> Excel
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div id="ticketsReport"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-8 col-md-8 col-lg-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body card-body-custom" style="padding: 0px !important;">
                    <div class="d-flex" style="padding: 10px 10px 0px;">
                      <h4 class="card-title" style="margin-bottom: 0px;" id="ticketsTimelineViewHead"></h4>
                    
                      <div class="dropdown ml-lg-auto toolbar-item">
                        <button class="btn" style="padding: 0px; font-size: 20px;" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-database-export mr-0 text-gray"></i>
                        </button>
                        <div style="min-width: auto;" class="dropdown-menu" aria-labelledby="dropdownexport">
                          <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Tickets_Timeline_View', 'ticketsTimelineView', 'PDF')">
                            <i class="mdi mdi-file-pdf mr-0 text-gray"></i> PDF
                          </a>
                          <a class="dropdown-item" style="cursor: pointer;" onclick="fetchDownloadData('Tickets_Timeline_View', 'ticketsTimelineView')">
                            <i class="mdi mdi-file-excel mr-0 text-gray"></i> Excel
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div id="ticketsTimelineView"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <!-- <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
              </span> -->
            </div>
          </footer>
          <!-- partial -->
        </div>

        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/js_cdn/vendors/js/vendor.bundle.base.js"></script>
    <script src="/static/js_cdn/jquery-3.2.1.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/js_cdn/shared/off-canvas.js"></script>
    <script src="/static/js_cdn/shared/hoverable-collapse.js"></script>
    <!-- <script src="/static/js_cdn/shared/misc.js"></script> -->
    <script src="/static/js_cdn/shared/settings.js"></script>
    <script src="/static/js_cdn/shared/todolist.js"></script>
    <script src="/static/javascript/highstock.js"></script>
    <script src="/static/javascript/highcharts-more.js"></script>
    <script src="/static/javascript/highcharts-3d.js"></script>
    <script src="/static/javascript/export-data.js"></script>
    <script src="/static/javascript/exporting.js"></script>
    <script src="/static/js_cdn/lodash.min.js"></script>
    <script src="/static/js_cdn/xlsx.js"></script>
    <script src="/static/js_cdn/jquery.multi-select.js"></script>
    <script src='/static/js_cdn/moment.min.js'></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/static/js/customer_dashboard.js"></script>
    <!-- End custom js for this page -->
    <script>
      $(document).ready(function(){
      $('#dashboard_li').addClass('active');
      $("#customer_dashboard_li").addClass('active');
      })
    </script>
  </body>
</html>