<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <title>Qbot</title> -->
    <title>lectus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/js_cdn/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/shared/style.css">
    <!-- endinject -->
    <link href="/static/images/icons/K.png" rel="shortcut icon" type="image/png" />
  </head>
  <body onload='document.login.username.focus();'>
    <input type="hidden" id="contextPath" value="${pageContext.request.contextPath}" />
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="col-md-6" style="background-color: #13429A;">
            <img style="height: 600px;" src="/static/images/Mobile_hand.png" alt="mac.png">
          </div>
          <div class="col-md-6 w-100 mx-auto">
            <div class="col-lg-6 mx-auto" id="loginDiv">
              <div class="auto-form-wrapper" style="padding: 20px 40px;">
                <div style="height: 7%;">
                  <span style="color: red" id="error"></span>
                </div>
                <form name='login' action="/login/" method='POST'>
                  {% csrf_token %}
                  <div class="form-group">
                    <span style="border-radius: 50%; background-color: #C20712; display: inline-block; height: 25px; width: 25px; float: left; margin-right: 10px;"></span>
                    <img style="height: 25px;" src="/static/images/KyneaLogo.png" alt="">
                  </div>
                  <div class="form-group">
                    <label class="label">Username</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label">Password</label>
                    <div class="input-group">
                      <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    <a class="text-small forgot-password text-black">Forgot Password?</a>
                  </div>
                  <!-- <span id="loadingImg" style="display: none">
                    <img style="height: 50px; margin-left: -10%; margin-top: 7px;" src="/static/images/loading.gif" alt="loading">
                  </span> -->
                  <div class="form-group">
                    <button id="submitButton" name="submit" type="submit" style="background-color: #C20712; border-color: #C20712;" class="btn btn-primary submit-btn btn-block">Login</button>
                  </div>
                  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                </form>
              </div>
            </div>

            <!-- <div class="col-lg-6 mx-auto" style="display: none;" id="resetPasswardDiv">
              <div class="auto-form-wrapper" style="padding: 20px 40px;">
                <div style="height: 7%;">
                  <span style="color: red" id="errorDiv"></span>
                </div>
                
              </div>
            </div> -->
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script type="text/javascript" src="/static/javascript/jquery-3.2.1.min.js"></script>
    <!-- plugins:js -->
    <script src="/static/js_cdn/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/static/js_cdn/shared/off-canvas.js"></script>
    <script src="/static/js_cdn/shared/hoverable-collapse.js"></script>
    <script src="/static/js_cdn/shared/misc.js"></script>
    <script src="/static/js_cdn/shared/settings.js"></script>
    <script src="/static/js_cdn/shared/todolist.js"></script>
    <!-- endinject -->
    <script src="/static/js/login.js"></script>
  </body>
</html>