<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <title>Q Bot | Dashboard</title> -->
    <title>lectus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/js_cdn/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/css/dataTables.bootstrap4.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/shared/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/multi-select-styles.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/css/shared/demo_2_style.css">
    <!-- End Layout styles -->
    <link href="/static/images/icons/K.png" rel="shortcut icon" type="image/png" />
    <style>
      #lectusAlignment {
        /* font-family: Microsoft JengHui UI Light; */
        font-size: 2.5rem;
        margin-left: 40%;
        color: black;
        background-color: white;
        padding: 0px 16px;
      }
      .tab-basic .nav-item .nav-link.active {
        color: #6358D5;
        border-bottom: 2px solid #6358D5;
      }
      .nav-tabs .nav-item .nav-link {
        font-size: 16px;
      }
      .tab-basic .nav-item {
        margin-right: 20px;
      }
      .borderTopWhite td{
        border-top-color: #fff !important;
      }
      .borderTopWhite th {
        color: #fff !important;
      }
    </style>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="padding: 0px; background-image: url('/static/images/Header.png');">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html">
            <img src="/static/images/KyneaLogo.png" alt="logo" /> </a>
          <a class="navbar-brand brand-logo-mini" href="index.html">
            <img src="/static/images/K7Logo.png" alt="logo" /> </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <div id="lectusAlignment">lectus</div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-xl-inline-block">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <span class="profile-text">
                  <span id="loginUserName"></span>
                </span>
                <i style="margin: 0px;" class="menu-icon mdi mdi-account-circle"></i>
              </a>
              <div style="padding: 10px;" class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <a class="dropdown-item" href='javascript:;' onclick='logout();'> Sign Out </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        {% include 'sidebar.html' %}
        
        <!-- partial -->

        <div class="main-panel">
          <div class="content-wrapper" style="padding: 0px;">
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <!-- <div class="card"> -->
                  <div class="card-body" style="padding: 0px;">
                    <!-- <div class="row"> -->
                      <!-- <div class="col-md-12 pl-md-5 pt-4 pt-md-0"> -->
                      <ul class="nav nav-tabs tab-basic" role="tablist" style="margin-bottom: 0px; padding: 10px; background-color: #fff;">
                        <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#whoweare" role="tab" aria-controls="whoweare" aria-selected="true">File Upload</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#ourgoal" role="tab" aria-controls="ourgoal" aria-selected="false">Process History</a>
                        </li>
                      </ul>
                      <div class="tab-content tab-content-basic">
                        <div class="tab-pane fade show active" id="whoweare" role="tabpanel" aria-labelledby="home-tab" style="padding: 10px;">
                          
                          

                        </div>
                        <div class="tab-pane fade" id="ourgoal" role="tabpanel" aria-labelledby="profile-tab" style="padding: 10px;">
                          <h4 class="card-title" style="font-size: 16px;">Process History</h4>

                          <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body" style="padding: 0;">
                                <!-- <h4 class="card-title mb-n4 d-none d-md-block">Orders</h4>
                                <br> -->
                                <div class="table-responsive">
                                  <table class="table borderTopWhite">
                                    <thead>
                                      <tr class="bg-light rounded" style="background-color: #544DC1 !important; color: #fff;">
                                        <th>DATE</th>
                                        <th></th>
                                        <th>NAME</th>
                                        <th>MODE</th>
                                        <th>DATA FILENAME</th>
                                        <th>TIMING FILENAME</th>
                                        <th></th>
                                      </tr>
                                    </thead>
                                    <tbody id="tBodyHtml">
                                      <!-- <tr>
                                        <td style="width: 70px;">
                                          <span style="text-align: right;">
                                            <div style="font-weight: 700; line-height: 20px;">Jul 19</div>
                                            <div>2000</div>
                                          </span>                                          
                                        </td>
                                        <td>
                                          <div class="dot-indicator bg-danger mr-2"></div>
                                        </td>
                                        <td>Eshwar</td>
                                        <td>Test</td>
                                        <td>Data_feb_15Tkts111.xlsx</td>
                                        <td>Data_feb_15Tkts111.xlsx</td>
                                        <td><i onclick="downloadFile()" style="cursor: pointer;" class="mdi mdi-arrow-collapse-down text-gray"></i></td>
                                      </tr> -->
                                    </tbody>
                                  </table>
                                </div>
                                <!-- <table id="order-listing" class="table table-borderless table-striped">
                                  <thead>
                                    <tr>
                                      <th>Order ID</th>
                                      <th>Sales</th>
                                      <th>Status</th>
                                      <th>Earning</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>57543-30</td>
                                      <td>435</td>
                                      <td class="d-flex align-items-center">
                                        <div class="dot-indicator bg-primary mr-2"></div>Pending
                                      </td>
                                      <td>$235.00</td>
                                    </tr>
                                    <tr>
                                      <td>236345-31</td>
                                      <td>567</td>
                                      <td class="d-flex align-items-center">
                                        <div class="dot-indicator bg-danger mr-2"></div>Canceled
                                      </td>
                                      <td>$805.00</td>
                                    </tr>
                                    <tr>
                                      <td>236234-32</td>
                                      <td>145</td>
                                      <td class="d-flex align-items-center">
                                        <div class="dot-indicator bg-primary mr-2"></div>Pending
                                      </td>
                                      <td>$453.00</td>
                                    </tr>
                                    <tr>
                                      <td>325606-33</td>
                                      <td>453</td>
                                      <td class="d-flex align-items-center">
                                        <div class="dot-indicator bg-danger mr-2"></div>Canceled
                                      </td>
                                      <td>$2305.00</td>
                                    </tr>
                                    <tr>
                                      <td>32643-34</td>
                                      <td>653</td>
                                      <td class="d-flex align-items-center">
                                        <div class="dot-indicator bg-primary mr-2"></div>Pending
                                      </td>
                                      <td>$1405.00</td>
                                    </tr>
                                    <tr>
                                      <td>33466-35</td>
                                      <td>234</td>
                                      <td class="d-flex align-items-center">
                                        <div class="dot-indicator bg-danger mr-2"></div>Canceled
                                      </td>
                                      <td>$8045.00</td>
                                    </tr>
                                    <tr>
                                      <td>34634-36</td>
                                      <td>567</td>
                                      <td class="d-flex align-items-center">
                                        <div class="dot-indicator bg-primary mr-2"></div>Pending
                                      </td>
                                      <td>$2146.00</td>
                                    </tr>
                                  </tbody>
                                </table> -->
                              </div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      <!-- </div> -->
                    <!-- </div> -->
                  </div>
                <!-- </div> -->
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix"></div>
          </footer>
          <!-- partial -->
        </div>

        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/js_cdn/vendors/js/vendor.bundle.base.js"></script>
    <script src="/static/js_cdn/vendors/js/jquery.dataTables.js"></script>
    <script src="/static/js_cdn/vendors/js/dataTables.bootstrap4.js"></script>
    <script src="/static/js_cdn/jquery-3.2.1.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/js_cdn/shared/off-canvas.js"></script>
    <script src="/static/js_cdn/shared/hoverable-collapse.js"></script>
    <script src="/static/js_cdn/shared/misc.js"></script>
    <script src="/static/js_cdn/shared/settings.js"></script>
    <script src="/static/js_cdn/shared/todolist.js"></script>
    <script src="/static/js_cdn/lodash.min.js"></script>
    <script src="/static/js_cdn/xlsx.js"></script>
    <script src="/static/js_cdn/jquery.multi-select.js"></script>
    <script src="/static/js_cdn/data-table.js"></script>
    <script src='/static/js_cdn/moment.min.js'></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
    <script>
      $(document).ready(function(){
        $('#administration_li').addClass('active');
        $('#administration_li').addClass('menu-open');
        $("#history_li").addClass('active');
        fetchProcessHistoryList()
      })
    function fetchProcessHistoryList() {
      $.ajax({
        type: 'get',
        url: '/getProcessHistoryList',
        data: {
        },
        success: function (data) {
          window.records = data;
          console.log(data)
          prepareTable(data)
          /* $('#recordsTable').html('<table id="table" class="table display table-hover table-bordered" style="background-color:white; font-size: 14px"></table>');

          $('#table').dataTable({
            "data": window.records,
            "columnDefs": [
              {"className": "dt-center", "targets": [5]},
              {"bSortable": true, "aTargets": [1]}
            ],
            "order": [[1, "desc"]],
            "columns": [
              {"title": "Name", "data": "username"},
              {"title": "Date", "render": function (data, type, full, meta) {
                return moment(full.process_start_time).format('DD-MM-YYYY hh:mm:ss');
              }
              }, 
              {"title": "Mode", "data": "mode"},
              {"title": "Data filename", "data": "data_file_name"}, 
              {"title": "Timing filename", "data": "timing_file_name"},
              { "title": "Download", "": "", "render": function (data, type, full, meta) {
                if(full.filename_to_download != '' && full.final_status == 'Success')
                  return '<i class="fa fa-download" aria-hidden="true" style="cursor: pointer" onclick=downloadFile(\"'+full.id+'\")></i>';
                else return '';
              }
              }
            ],
          }); */
        },
        error: function (data) {
          console.log(data);
        }
      });
    }

    function prepareTable(data) {
      let tbodyInfo = ''
      for(let i in data) {
      tbodyInfo += '<tr> <td style="width: 70px;">' +
                        '<span style="text-align: right;">' +
                          '<div style="font-weight: 700; line-height: 20px;">'+ moment(data[i].process_start_time.split('T')[0], 'YYYY-MM-DD').format('MMM-DD') +'</div>' +
                          '<div>'+moment(data[i].process_start_time.split('T')[0], 'YYYY-MM-DD').format('YYYY')+'</div>' +
                        '</span>' +                                    
                      '</td>' +
                      '<td>' +
                        '<div class="dot-indicator bg-danger mr-2"></div>' +
                      '</td>' +
                      '<td>'+data[i].username+'</td>' +
                      '<td>'+data[i].mode+'</td>' +
                      '<td>'+data[i].data_file_name.substring(0, 30)+'</td>' +
                      '<td>'+data[i].timing_file_name.substring(0, 30)+'</td>' +
                      '<td><i onclick="downloadFile('+data[i].id+')" style="cursor: pointer;" class="mdi mdi-arrow-collapse-down text-gray"></i></td>' +
                    '</tr>'
      }
      console.log(tbodyInfo)
      $('#tBodyHtml').html(tbodyInfo)
    }

    function downloadFile(id) {
      alert(id)
      var fileName = window.records.find(rec => rec.id == id).filename_to_download
      $('#filename_to_download').val(fileName);
      setTimeout(() => {
        $('#downloadForm').submit();
      }, 50);
    }

    </script>
  </body>
</html>