<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <title>Q Bot | Dashboard</title> -->
    <title>lectus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/js_cdn/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/static/js_cdn/vendors/css/vendor.bundle.base.css">
    
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/shared/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/multi-select-styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/css/shared/demo_2_style.css">
    <!-- End Layout styles -->
    <link href="/static/images/icons/K.png" rel="shortcut icon" type="image/png" />
    <style>
      #lectusAlignment {
        /* font-family: Microsoft JengHui UI Light; */
        font-size: 2.5rem;
        margin-left: 40%;
        color: black;
        background-color: white;
        padding: 0px 16px;
      }
      .dataTables_length label select {
        width: 5px;
      }
      td.details-control {
          background: url('/static/images/data_table_icons/details_open.png') no-repeat center center;
          cursor: pointer;
      }
      tr.shown td.details-control {
          background: url('/static/images/data_table_icons/details_close.png') no-repeat center center;
      }
      .tab-basic .nav-item .nav-link.active {
        color: #6358D5;
        border-bottom: 2px solid #6358D5;
      }
      .nav-tabs .nav-item .nav-link {
        font-size: 16px;
      }
      .tab-basic .nav-item {
        margin-right: 20px;
      }
      .card-body-custom {
        padding: 10px !important;
      }
      .font-weight-medium-custom {
        font-size: 16px;
        padding-top: 5px;
      }
      .customTable thead tr th { 
        font-weight: 700;
        font-size: 16px;
      }
      .template-demo > .btn {
        margin-top: 5px !important;
        margin-right: 5px !important;
      }
      .template-demo button, #buSelected, #deskSelected, #ownerGroupSelected {
        min-width: unset !important;
        font-size: 12px;
        padding: 0.3rem 1rem;
      }
    </style>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="padding: 0px; background-image: url('/static/images/Header.png');">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html">
            <img src="/static/images/KyneaLogo.png" alt="logo" /> </a>
          <a class="navbar-brand brand-logo-mini" href="index.html">
            <img src="/static/images/K7Logo.png" alt="logo" /> </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <div id="lectusAlignment">lectus</div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-xl-inline-block">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <span class="profile-text">
                  <span id="loginUserName"></span>
                </span>
                <i style="margin: 0px;" class="menu-icon mdi mdi-account-circle"></i>
              </a>
              <div style="padding: 10px;" class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <a class="dropdown-item" href='javascript:;' onclick='logout();'> Sign Out </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        {% include 'sidebar.html' %}
        
        <!-- partial -->

        <div class="main-panel">
          <div class="content-wrapper" style="padding-top: 10px;">
            <div class="testclass" data-toggle="modal" data-target="#responsesModal" style="display:none;"></div>
            <div class="testclass1" data-toggle="modal" data-target="#responseViewModal" style="display:none;"></div>
            <div class="row">
              <div class="col-md-6">
                <h4>Quality dashboard</h4>
              </div>
              <div class="col-md-6">
                
                <button style="float: right;" type="button" class="btn btn-primary toolbar-item" onclick="filterOptionsBtn()">
                  <i id="filterOption" style="color: #fff;" class="mdi mdi-filter-outline mr-0 text-gray"></i> Filter 
                  <!-- <i id="filterOptionDown" style="color: #fff;" class="mdi mdi-chevron-down-circle mr-0 text-gray"></i>
                  <i id="filterOptionUp" style="color: #fff; display: none;" class="mdi mdi-chevron-up-circle mr-0 text-gray"></i> -->
                </button>
              </div>
            </div>

            <div id="filterOptions" class="col-12 grid-margin" style="padding: 0px; display: none;">
              <div class="card">
                <div class="card-body" style="padding: 0px">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card-body" style="padding: 10px">
                        <h4 class="card-title" style="margin-bottom: 0px;">
                          Product: 
                        </h4>
                        <div class="template-demo" id="products">
                          <!-- <button type="button" class="btn btn-outline-primary btn-rounded btn-fw">Primary</button> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card-body" style="padding: 10px">
                        <h4 class="card-title" style="margin-bottom: 0px;">
                          Severity: 
                        </h4>
                        <div class="template-demo" id="severities">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" style="position: absolute; right: 0px; bottom: 5px;">
                      <button style="float: right;" type="button" class="btn btn-primary toolbar-item" onclick="filterDataAndPlot()">Select</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div id="filterOptions" class="col-12 grid-margin" style="padding: 0px; display: none;">
              <div class="card">
                <div class="card-body" style="padding: 10px">
                  <div class="row">
                    <div class="col-md-1">
                      <label style="padding-top: 8px; font-weight: 450; font-size: 14px;">Product:</label>
                    </div>
                    <div class="col-md-4" id="productsDiv">
                      <select id="products" name="products" multiple style="height: 34px;">
                        <option value="All" selected>All</option>
                      </select>
                    </div>
                    <div class="col-md-1">
                      <label style="padding-top: 8px; font-weight: 450; font-size: 14px;">Severity:</label>
                    </div>
                    <div class="col-md-4" id="severitiesDiv">
                      <select id="severities" name="severities" multiple style="height: 34px;">
                        <option value="All" selected>All</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button style="float: right;" type="button" class="btn btn-primary toolbar-item" onclick="filterDataAndPlot()">Select</button>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body card-body-custom" style="padding: 0px !important;">
                    <div class="d-flex" style="padding: 10px 10px 0px;">
                      <h4 class="card-title" style="margin-bottom: 0px;" id="ticketsOverviewPieChartHead"></h4>
                    
                      <div class="dropdown ml-lg-auto toolbar-item">
                        <button class="btn" style="padding: 0px; font-size: 20px;" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-database-export mr-0 text-gray"></i>
                        </button>
                        <div style="min-width: auto;" class="dropdown-menu" aria-labelledby="dropdownexport">
                          <!-- <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Tickets_overview_', 'ticketsOverviewPieChart', 'PNG')">
                            <i class="mdi mdi-image mr-0 text-gray"></i> PNG
                          </a> -->
                          <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Tickets_overview_', 'ticketsOverviewPieChart', 'PDF')">
                            <i class="mdi mdi-file-pdf mr-0 text-gray"></i> PDF
                          </a>
                          <a class="dropdown-item" style="cursor: pointer;" onclick="fetchDownloadData('Tickets_overview_', 'ticketsOverviewPieChart')">
                            <i class="mdi mdi-file-excel mr-0 text-gray"></i> Excel
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div id="ticketsOverviewPieChart"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-8 col-md-8 col-lg-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body card-body-custom" style="padding: 0px !important;">
                    <div class="d-flex" style="padding: 10px 10px 0px;">
                      <h4 class="card-title" style="margin-bottom: 0px;" id="ticketsOverviewAreaChartHead"></h4>
                    
                      <div class="dropdown ml-lg-auto toolbar-item">
                        <button class="btn" style="padding: 0px; font-size: 20px;" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-database-export mr-0 text-gray"></i>
                        </button>
                        <div style="min-width: auto;" class="dropdown-menu" aria-labelledby="dropdownexport">
                          <!-- <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Tickets_overview_timeline_', 'ticketsOverviewAreaChart', 'PNG')">
                            <i class="mdi mdi-image mr-0 text-gray"></i> PNG
                          </a> -->
                          <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Tickets_overview_timeline_', 'ticketsOverviewAreaChart', 'PDF')">
                            <i class="mdi mdi-file-pdf mr-0 text-gray"></i> PDF
                          </a>
                          <a class="dropdown-item" style="cursor: pointer;" onclick="fetchDownloadData('Tickets_overview_timeline_', 'ticketsOverviewAreaChart')">
                            <i class="mdi mdi-file-excel mr-0 text-gray"></i> Excel
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div id="ticketsOverviewAreaChart"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 grid-margin" style="padding: 0px">
              <div class="card">
                <div class="card-body" style="padding: 0px">
                  <div class="row">
                    <div class="col-md-11">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="card-body" style="padding: 10px">
                            <h4 class="card-title" style="margin-bottom: 0px;">
                            BU: <button id="buSelected" type="button" class="btn btn-outline-primary btn-rounded btn-fw active"></button>
                            </h4>
                            <div class="template-demo" id="buButtonsDiv" style="display: none;">
                              <!-- <button type="button" class="btn btn-outline-primary btn-rounded btn-fw">Primary</button> -->
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card-body" style="padding: 10px">
                            <h4 class="card-title" style="margin-bottom: 0px;">
                              Desk: <button id="deskSelected" type="button" class="btn btn-outline-primary btn-rounded btn-fw active"></button>
                            </h4>
                            <div class="template-demo" id="deskButtonsDiv" style="display: none;">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card-body" style="padding: 10px">
                            <h4 class="card-title" style="margin-bottom: 0px;">
                              Owner group: <button id="ownerGroupSelected" type="button" class="btn btn-outline-primary btn-rounded btn-fw active"></button>
                            </h4>
                            <div class="template-demo" id="ownerGroupButtonsDiv" style="display: none;">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="card-body" style="padding: 5px">
                        <i onclick="buttonsShowHide()" style="float: right; font-size: 20px; cursor: pointer;" class="mdi mdi-filter-outline mr-0 text-gray"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body card-body-custom" style="padding: 0px !important;">
                    <div class="d-flex" style="padding: 10px 10px 0px;">
                      <h4 class="card-title" style="margin-bottom: 0px;" id="buColumnChartHead"></h4>
                    
                      <div class="dropdown ml-lg-auto toolbar-item">
                        <button class="btn" style="padding: 0px; font-size: 20px;" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-database-export mr-0 text-gray"></i>
                        </button>
                        <div style="min-width: auto;" class="dropdown-menu" aria-labelledby="dropdownexport">
                          <!-- <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Bu_overview_', 'buColumnChart', 'PNG')">
                            <i class="mdi mdi-image mr-0 text-gray"></i> PNG
                          </a> -->
                          <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Bu_overview_', 'buColumnChart', 'PDF')">
                            <i class="mdi mdi-file-pdf mr-0 text-gray"></i> PDF
                          </a>
                          <a class="dropdown-item" style="cursor: pointer;" onclick="fetchDownloadData('Bu_overview_', 'buColumnChart')">
                            <i class="mdi mdi-file-excel mr-0 text-gray"></i> Excel
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div id="buColumnChart"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body card-body-custom" style="padding: 0px !important;">
                    <div class="d-flex" style="padding: 10px 10px 0px;">
                      <h4 class="card-title" style="margin-bottom: 0px;" id="deskPieChartHead"></h4>
                    
                      <div class="dropdown ml-lg-auto toolbar-item">
                        <button class="btn" style="padding: 0px; font-size: 20px;" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-database-export mr-0 text-gray"></i>
                        </button>
                        <div style="min-width: auto;" class="dropdown-menu" aria-labelledby="dropdownexport">
                          <!-- <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Desk_overview_', 'deskPieChart', 'PNG')">
                            <i class="mdi mdi-image mr-0 text-gray"></i> PNG
                          </a> -->
                          <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Desk_overview_', 'deskPieChart', 'PDF')">
                            <i class="mdi mdi-file-pdf mr-0 text-gray"></i> PDF
                          </a>
                          <a class="dropdown-item" style="cursor: pointer;" onclick="fetchDownloadData('Desk_overview_', 'deskPieChart')">
                            <i class="mdi mdi-file-excel mr-0 text-gray"></i> Excel
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div id="deskPieChart"></div>
                      <!-- <div id="deskColumnChart"></div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body card-body-custom" style="padding: 0px !important;">
                    <div class="d-flex" style="padding: 10px 10px 0px;">
                      <h4 class="card-title" style="margin-bottom: 0px;" id="ownerGroupColumnChartHead"></h4>
                    
                      <div class="dropdown ml-lg-auto toolbar-item">
                        <button class="btn" style="padding: 0px; font-size: 20px;" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-database-export mr-0 text-gray"></i>
                        </button>
                        <div style="min-width: auto;" class="dropdown-menu" aria-labelledby="dropdownexport">
                          <!-- <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Owner-group_overview_', 'ownerGroupColumnChart', 'PNG')">
                            <i class="mdi mdi-image mr-0 text-gray"></i> PNG
                          </a> -->
                          <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Owner-group_overview_', 'ownerGroupColumnChart', 'PDF')">
                            <i class="mdi mdi-file-pdf mr-0 text-gray"></i> PDF
                          </a>
                          <a class="dropdown-item" style="cursor: pointer;" onclick="fetchDownloadData('Owner-group_overview_', 'ownerGroupColumnChart')">
                            <i class="mdi mdi-file-excel mr-0 text-gray"></i> Excel
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div id="ownerGroupColumnChart"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body card-body-custom" style="padding: 0px !important;">
                    <div class="d-flex" style="padding: 10px 10px 0px;">
                      <h4 class="card-title" style="margin-bottom: 0px;" id="ownerGroupAreaChartHead"></h4>
                    
                      <div class="dropdown ml-lg-auto toolbar-item">
                        <button class="btn" style="padding: 0px; font-size: 20px;" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-database-export mr-0 text-gray"></i>
                        </button>
                        <div style="min-width: auto;" class="dropdown-menu" aria-labelledby="dropdownexport">
                          <!-- <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Owner-group_overview_timeline_', 'ownerGroupAreaChart', 'PNG')">
                            <i class="mdi mdi-image mr-0 text-gray"></i> PNG
                          </a> -->
                          <a class="dropdown-item" style="cursor: pointer;" onclick="downloadChartAs('Owner-group_overview_timeline_', 'ownerGroupAreaChart', 'PDF')">
                            <i class="mdi mdi-file-pdf mr-0 text-gray"></i> PDF
                          </a>
                          <a class="dropdown-item" style="cursor: pointer;" onclick="fetchDownloadData('Owner-group_overview_timeline_', 'ownerGroupAreaChart')">
                            <i class="mdi mdi-file-excel mr-0 text-gray"></i> Excel
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div id="ownerGroupAreaChart"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="responsesModal" tabindex="-1" role="dialog" aria-labelledby="responsesModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document" style="max-width: 90%;">
                <div class="modal-content">
                  <div class="modal-header" style="padding: 10px;">
                    <h5 class="modal-title" id="responsesModalLabel"></h5>
                    <button style="margin: -20px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="padding: 10px;">
                    <div class="row">
                      <div class="col-md-12">
                        <ul class="nav nav-tabs tab-basic" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="initial-tab" data-toggle="tab" href="#initial" role="tab" aria-controls="initial" aria-selected="true">Initial</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="subsequent-tab" data-toggle="tab" href="#subsequent" role="tab" aria-controls="subsequent" aria-selected="false">Subsequent</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="discarded-tab" data-toggle="tab" href="#discarded" role="tab" aria-controls="discarded" aria-selected="false">Discarded</a>
                          </li>
                        </ul>
                        <div class="tab-content tab-content-basic">
                          <div class="tab-pane fade show active" id="initial" role="tabpanel" aria-labelledby="initial-tab">
                            
                            <!-- <div class="col-md-12">
                              <table id="initial_emails_table" class="display" cellspacing="0" width="100%">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>Ticket Number</th>
                                    <th>Timestamp</th>
                                  </tr>
                                </thead>
                              </table>
                            </div> -->
                            <div class="col-lg-12 grid-margin stretch-card">
                              <div class="card">
                                <div class="card-body" style="padding: 0;">
                                  <div class="table-responsive">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th>Ticket Number</th>
                                          <th>Timeline</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                      <tbody id="initial_emails_body">
                                        <!-- <tr>
                                          <td>Jacob</td>
                                          <td>Photoshop</td>
                                          <td> 28.76% <i class="mdi mdi-arrow-right-drop-circle"></i></td>
                                        </tr> -->
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="tab-pane fade" id="subsequent" role="tabpanel" aria-labelledby="subsequent-tab">

                            <div class="col-lg-12 grid-margin stretch-card">
                              <div class="card">
                                <div class="card-body" style="padding: 0;">
                                  <div class="table-responsive">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th>Ticket Number</th>
                                          <th>Timeline</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                      <tbody id="subsequent_emails_body">
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="tab-pane fade" id="discarded" role="tabpanel" aria-labelledby="discarded-tab">
                            
                            <div class="col-lg-12 grid-margin stretch-card">
                              <div class="card">
                                <div class="card-body" style="padding: 0;">
                                  <div class="table-responsive">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th>Ticket Number</th>
                                          <th>Timeline</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                      <tbody id="discarded_emails_body">
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="responseViewModal" tabindex="-1" role="dialog" aria-labelledby="responseViewModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document" style="margin-top: calc(263px + 30px); max-width: 80%">
                <div class="modal-content">
                  <div class="modal-header" style="padding: 10px;">
                    <h5 class="modal-title" id="responseViewModalLabel"></h5>
                    <button style="margin: -20px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="padding: 10px;">
                    <div class="col-md-12 grid-margin stretch-card" style="margin: 0px; padding: 0px;">
                      <div class="card">
                        <div class="card-body" style="padding: 0px;" id="ticketDetails">
                          <!-- <div class="form-group row">
                            <div class="col">
                              <label>Basic</label>
                              <div id="the-basics">

                              </div>
                            </div>
                            <div class="col">
                              <label>Bloodhound</label>
                              <div id="bloodhound">

                              </div>
                            </div>
                            <div class="col">
                              <label>Basic</label>
                              <div id="the-basics">

                              </div>
                            </div>
                            <div class="col">
                              <label>Bloodhound</label>
                              <div id="bloodhound">

                              </div>
                            </div>
                            <div class="col">
                              <label>Basic</label>
                              <div id="the-basics">

                              </div>
                            </div>
                            <div class="col">
                              <label>Bloodhound</label>
                              <div id="bloodhound">
                                
                              </div>
                            </div>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer" style="padding: 0 15px;">
                    <div class="col">
                      <label><span style="color: #6358D5"><b>Response Content</b></span></label>
                      <div id="emailResponse" style="overflow-wrap: break-word; max-height: 100px; overflow-y: auto;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <!-- <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
              </span> -->
            </div>
          </footer>
          <!-- partial -->
        </div>

        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/js_cdn/vendors/js/vendor.bundle.base.js"></script>
    <script src="/static/js_cdn/jquery-3.2.1.min.js"></script>
    <script src="/static/js_cdn/datatables.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/js_cdn/shared/off-canvas.js"></script>
    <script src="/static/js_cdn/shared/hoverable-collapse.js"></script>
    <script src="/static/js_cdn/shared/misc.js"></script>
    <script src="/static/js_cdn/shared/settings.js"></script>
    <script src="/static/js_cdn/shared/todolist.js"></script>
    <script src="/static/javascript/highstock.js"></script>
    <script src="/static/javascript/highcharts-more.js"></script>
    <script src="/static/javascript/highcharts-3d.js"></script>
    <script src="/static/javascript/export-data.js"></script>
    <script src="/static/javascript/exporting.js"></script>
    <script src="/static/js_cdn/lodash.min.js"></script>
    <script src="/static/js_cdn/xlsx.js"></script>
    <script src="/static/js_cdn/jquery.multi-select.js"></script>
    <script src='/static/js_cdn/moment.min.js'></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/static/js/quality_dashboard.js"></script>
    <!-- End custom js for this page -->
    <script>
      $(document).ready(function(){
        $('#dashboard_li').addClass('active');
        $('#dashboard_li').addClass('menu-open');
        $("#quality_dashboard_li").addClass('active');
      })
    </script>
  </body>
</html>