<form action="/logout/" method="POST" id="logoutForm">
  {% csrf_token %}
</form>
<nav class="sidebar sidebar-offcanvas dynamic-active-class-disabled" id="sidebar">
  <ul class="nav" style="width: 255px;">
    <!-- <li class="nav-item nav-profile not-navigation-link">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="../assets/images/faces/face8.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Richard V.Welsh</p>
            <ul class="nav navbar-nav">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link d-flex user-switch-dropdown-toggler" id="UsersettingsDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                  <small class="designation text-muted">Manager</small>
                  <span class="status-indicator online"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-left navbar-dropdown" aria-labelledby="UsersettingsDropdown">
                  <a class="dropdown-item p-0">
                    <div class="d-flex border-bottom">
                      <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                        <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                      </div>
                      <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                        <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                      </div>
                      <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                        <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                      </div>
                    </div>
                  </a>
                  <a class="dropdown-item mt-2"> Manage Accounts </a>
                  <a class="dropdown-item"> Change Password </a>
                  <a class="dropdown-item"> Check Inbox </a>
                  <a class="dropdown-item"> Sign Out </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="menu-icon mdi mdi-home"></i>
        <span class="menu-title">Home</span>
      </a>
    </li> -->
    <li class="nav-item" id="landing_li">
      <a class="nav-link" href="/landing">
        <i class="menu-icon mdi mdi-home"></i>
        <span class="menu-title menu-title-main">Home</span>
      </a>
    </li>
    
    <li class="nav-item" id="dashboard_li">
      <a class="nav-link" data-toggle="collapse" href="#dashboard-dropdown" aria-expanded="false" aria-controls="dashboard-dropdown">
        <i class="menu-icon mdi mdi-chart-pie"></i>
        <span class="menu-title menu-title-main">Dashboard</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="dashboard-dropdown">
        <ul class="nav flex-column sub-menu" style="padding: 0 0 0 3rem;">
          <li class="nav-item" id="quality_dashboard_li">
            <a class="nav-link" href="/quality_dashboard">
              <span class="menu-title menu-title-sub">Quality Dashboard</span>
            </a>
          </li>
          <li class="nav-item" id="customer_dashboard_li">
            <a class="nav-link" href="/customer_dashboard">
              <span class="menu-title menu-title-sub">Customer Dashboard</span>
            </a>
          </li>
          <li class="nav-item" id="action_module_li">
            <a class="nav-link" data-toggle="collapse" href="#action_module-dropdown" aria-expanded="false" aria-controls="action_module-dropdown">
              <span class="menu-title menu-title-sub">Action Module</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="action_module-dropdown">
              <ul class="nav flex-column sub-menu" style="padding: 0 0 0 3rem;">
                <li class="nav-item" id="initial_mails_li">
                  <a class="nav-link" href="/action_module_initial">
                    <span class="menu-title">Initial responses</span>
                  </a>
                </li>
                <li class="nav-item" id="subsequent_mails_li">
                  <a class="nav-link" href="/action_module_subsequent">
                    <span class="menu-title">Sub responses</span>
                  </a>
                </li>
                <li class="nav-item" id="rfo_li">
                  <a class="nav-link" href="#">
                    <span class="menu-title">RFO responses</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item" id="agent_module_li">
            <a class="nav-link" href="#">
              <span class="menu-title menu-title-sub">Agent module</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" id="customer_journey_li">
      <a class="nav-link" href="/customer_journey">
        <i class="menu-icon mdi mdi-account-clock"></i>
        <span class="menu-title menu-title-main">Customer Journey</span>
      </a>
    </li>
    <li class="nav-item" id="agent_training_li">
      <a class="nav-link" href="/agent_training">
        <i class="menu-icon mdi mdi-headset-dock"></i>
        <span class="menu-title menu-title-main">Agent Training</span>
      </a>
    </li>
    <li class="nav-item" style="display: none;" id="administration_li">
      <a class="nav-link" data-toggle="collapse" href="#administration-dropdown" aria-expanded="false" aria-controls="administration-dropdown">
        <i class="menu-icon mdi mdi-account-key"></i>
        <span class="menu-title menu-title-main">Administration</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="administration-dropdown">
        <ul class="nav flex-column sub-menu" style="padding: 0 0 0 3rem;">
          <li class="nav-item" id="users_li">
            <a class="nav-link" href="#">
              <span class="menu-title menu-title-sub">Users</span>
            </a>
          </li>
          <li class="nav-item" id="file_upload_li">
            <a class="nav-link" href="#">
              <span class="menu-title menu-title-sub">File Upload</span>
            </a>
          </li>
          <li class="nav-item" id="calendar_li">
            <a class="nav-link" href="/calendar">
              <span class="menu-title menu-title-sub">Calendar</span>
            </a>
          </li>
          <li class="nav-item" id="data_management_li">
            <a class="nav-link" href="#">
              <span class="menu-title menu-title-sub">Data management</span>
            </a>
          </li>
          <li class="nav-item" id="history_li">
            <a class="nav-link" href="/process_history">
              <span class="menu-title menu-title-sub">Process history</span>
            </a>
          </li>
          <li class="nav-item" id="read_me_id">
            <a class="nav-link" href="#">
              <span class="menu-title menu-title-sub">Read me</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <!-- <li class="nav-item" id="dashboard_li">
      <a class="nav-link" data-toggle="collapse" href="#dashboard-dropdown" aria-expanded="false" aria-controls="dashboard-dropdown">
        <i class="menu-icon mdi mdi-chart-pie"></i>
        <span class="menu-title menu-title-main">Dashboard</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="dashboard-dropdown">
        <ul class="nav flex-column sub-menu" style="padding: 0 0 0 3rem;">
          <li class="nav-item" id="quality_dashboard_li">
            <a class="nav-link" href="/quality_dashboard">
              <span class="menu-title menu-title-sub">Quality Dashboard</span>
            </a>
          </li>
          <li class="nav-item" id="customer_dashboard_li">
            <a class="nav-link" href="/customer_dashboard">
              <span class="menu-title menu-title-sub">Customer Dashboard</span>
            </a>
          </li>
          <li class="nav-item" id="action_module_li">
            <a class="nav-link" data-toggle="collapse" href="#action_module-dropdown" aria-expanded="false" aria-controls="action_module-dropdown">
              <span class="menu-title menu-title-sub">Action Module</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="action_module-dropdown">
              <ul class="nav flex-column sub-menu" style="padding: 0 0 0 3rem;">
                <li class="nav-item" id="initial_mails_li">
                  <a class="nav-link" href="/action_module_initial">
                    <span class="menu-title">Initial responses</span>
                  </a>
                </li>
                <li class="nav-item" id="subsequent_mails_li">
                  <a class="nav-link" href="/action_module_subsequent">
                    <span class="menu-title">Sub responses</span>
                  </a>
                </li>
                <li class="nav-item" id="rfo_li">
                  <a class="nav-link" href="/action_module_rfo">
                    <span class="menu-title">RFO responses</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item" id="agent_module_li">
            <a class="nav-link" href="/agent_module">
              <span class="menu-title menu-title-sub">Agent module</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" style="display: none;" id="administration_li">
      <a class="nav-link" data-toggle="collapse" href="#administration-dropdown" aria-expanded="false" aria-controls="administration-dropdown">
        <i class="menu-icon mdi mdi-account-key"></i>
        <span class="menu-title menu-title-main">Administration</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="administration-dropdown">
        <ul class="nav flex-column sub-menu" style="padding: 0 0 0 3rem;">
          <li class="nav-item" id="users_li">
            <a class="nav-link" href="/users">
              <span class="menu-title menu-title-sub">Users</span>
            </a>
          </li>
          <li class="nav-item" id="file_upload_li">
            <a class="nav-link" href="/file_upload">
              <span class="menu-title menu-title-sub">File Upload</span>
            </a>
          </li>
          <li class="nav-item" id="calendar_li">
            <a class="nav-link" href="/calendar">
              <span class="menu-title menu-title-sub">Calendar</span>
            </a>
          </li>
          <li class="nav-item" id="data_management_li">
            <a class="nav-link" href="/data_management">
              <span class="menu-title menu-title-sub">Data management</span>
            </a>
          </li>
          <li class="nav-item" id="history_li">
            <a class="nav-link" href="/process_history">
              <span class="menu-title menu-title-sub">Process history</span>
            </a>
          </li>
          <li class="nav-item" id="read_me_id">
            <a class="nav-link" href="#">
              <span class="menu-title menu-title-sub">Read me</span>
            </a>
          </li>
        </ul>
      </div>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href='javascript:;' onclick='logout();'>
        <i class="menu-icon mdi mdi-account-circle"></i>
        <span class="menu-title menu-title-main">Logout</span>
      </a>
    </li>
  </ul>
</nav>
<style>
  .menu-title-main {
    font-weight: 550;
    font-size: 14px !important;
    font-family: roboto !important;
  }
  .menu-title-sub {
    font-weight: 450;
    font-size: 13px !important;
    font-family: roboto !important;
  }
  .menu-title {
    color: #5E7580 !important;
  }
  .nav-item.active > .nav-link > .menu-title, .nav-item.active > .nav-link > i{
    color: #2196f3 !important;
  }
</style>
<script type="text/javascript" src="/static/javascript/jquery-3.2.1.min.js"></script>
<script>
  $(document).ready(function () {
    $.ajax({
      type: 'get',
      url: '/getUserRecord/',
      data: {
      },
      success: function (result) {
        var resp = JSON.parse(result)
        console.log(resp)
        $('#loginUserName').html(resp.username)
        if(resp.role == 'ADMIN') {
          $('#administration_li').show();
        }
      },
      error: function (data) {
        console.log(data);
      }
    })
  })
  function logout(){
    $('#logoutForm').submit();
  }
</script>